ENABLE_DISCORD=False
CENTORIA_USER=
CENTORIA_PASS=
CENTORIA_BANK=
CENTORIA_CHAR=Mari
CENTORIA_USER_2=
CENTORIA_PASS_2=
CENTORIA_BANK_2=
CENTORIA_CHAR_2=Kuroe
CENTORIA_USER_3=
CENTORIA_PASS_3=
CENTORIA_BANK_3=
CENTORIA_CHAR_3=Fallenshadow
CENTORIA_USER_4=
CENTORIA_PASS_4=
CENTORIA_BANK_4=
CENTORIA_CHAR_4=Chesed
DISCORD_WEBHOOK_URL=
DISCORD_USER_ID=